.contenido-nosotros {
    display: flex;
    @include grid (1, 0);
    @include tablet {
        @include grid (2, $separacion);
    }
}

.informacion-nosotros blockquote {

    font-weight: $black;
    margin: 0;
    font-size: 2.2rem;
    padding: 3rem 0 3rem 0;
}